<nav>
  <div class="menu-toggle"></div>
  <div class="profile" (click)="toggleMenu()">
    <div class="user">
      <h3>{{ user?.name }}</h3>
      <p>{{ user?.email }}</p>
    </div>
    <div class="img-box">
      <img
        src="https://i.postimg.cc/BvNYhMHS/user-img.jpg"
        alt="some user image"
      />
    </div>
  </div>
  <div class="menu" #menu>
    <ul>
      <!-- <li>
        <a href="#"><i class="ph-bold ph-user"></i>&nbsp;Profile</a>
      </li>
      <li>
        <a href="#"><i class="ph-bold ph-envelope-simple"></i>&nbsp;Inbox</a>
      </li>
      <li>
        <a href="#"><i class="ph-bold ph-gear-six"></i>&nbsp;Settings</a>
      </li> 
      <li>
        <a href="#"><i class="ph-bold ph-question"></i>&nbsp;Help</a>
      </li>
      -->
      <li>
        <a (click)="logout()"
          ><i class="bi bi-box-arrow-right"></i>&nbsp;Sign Out</a
        >
      </li>
    </ul>
  </div>
</nav>
